.comment-card {
    width: 100% !important;
    /* font-size: small; */
    margin: 2px;
}

.user-item__content.author-item {
    display: flex;
    align-items: center;
    padding: 0.1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #f9f9f9;
    width: 100%;
    height: 60px; /* Fixed height */
  }
  
  .user-item__image {
    margin-right: 0.1rem;
  }

  .commenter-avatar {
    width: fit-content;
    height: 30px;
  }
  
  .comment-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem; 
    font-size: small;
  }

  .comment-content {
    /* border: 1px solid grey; */
    margin: 0;
    font-size: smaller;
    width: 90%;
  }
  
  .comment-details h3 {
    margin-bottom: 0.25rem;
    margin-top: 0;
    font-size: larger;
  }

  .comment-details h5 {
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 2rem;
  }
  
  .comment-details p {
    margin: 0;
    margin-right: 5px;
    font-size: x-small;
  }
  
  .comment-actions {
    margin-top: 0.25rem; /* Reduce top margin */
  }
  
  .comment-replies {
    margin-left: 20px;
  }
  
  .new-comment-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .new-comment-form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 0.5rem;
    resize: vertical;
  }
  
  .new-comment-form button {
    margin-top: 0.5rem;
  }
  
  .comment-list {
    width: 98%;
    margin: 0;
  }

  .comment-options {
    display: flex;
    justify-content: space-between;
}

.select-wrapper {
  appearance: none;
  background-color: #ccc;
  text-align: center;
  border: 1px solid gray;
  border-radius: 20%;
  padding: none;
  height: fit-content;
}

/* Media query for small screens */
@media (max-width: 768px) {
  select {
    width: auto;
    appearance: none;
    background-color: rgb(224, 180, 181);
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
    height: fit-content;
    font-size: medium;
  }
}

